@import "tailwindcss";

@utility custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-sky-500) transparent;

  &::-webkit-scrollbar {
    display: block; 
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-sky-500); 
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-neutral-600);
  }
}